/* Background image and positioning */
body { 
    background-image: url("../img/eat.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(17, 17, 17);
    font-family: 'Fredoka One', cursive;
}

.container {
    margin: auto;
    text-align: center;
}