body { 
    background-image: url("../img/eat2.png");
    background-size: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(17, 17, 17);
    font-family: 'Fredoka One', cursive;
}

.container {
    margin: auto;
    text-align: center;
}